* {
  margin: 0;
}

body {
  background-color: rgb(253 , 251 , 251);
  font-weight: 400;
  line-height: 30px;
  font-family: Georgia, serif;
}

#cabecalho {
  position: fixed;
  top: 0;
  height: 60px;
  background-color: lightgrey;
  font-size: 18px;
  padding-top: 10px;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  border-bottom: 1px gray solid;
  z-index: 15;
  font-family: Roboto, sans-serif;
}

#titulo {
  margin-top: 10px;
}

nav {
  background-color: grey;
  position: fixed;
  left: 0;
  width: 185px;
  height: 100%;
  z-index: 9;
  font-family: Roboto, sans-serif;
}

#minha_foto {
  background-color: black;
  float: left;
  display: inline-block;
  margin-left: 20px;
  margin-top: 150px;
  z-index: 11;
  border-radius: 20px;
}

nav ul li {
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 185px;
  margin-left: 0;
  text-align: center;
}

nav ul {
  margin-left: 0;
  margin-top: 350px;
  padding: 0;
}

nav li a {
  text-decoration: none;
  text-align: left;
  color: white;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 0;
}

nav a:hover {
  display: block;
  text-align: center;
  background-color: darkgray;
  width: 100%;
}

main {
  position: relative;
  top: 110px;
  margin-left: 240px;
  margin-right: 10px;
}

article {
  text-align: justify;
  margin-bottom: 30px;
  margin-right: 250px;
}

#trybe h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

#sobre-mim {
  margin-bottom: 20px;
  line-height: 40px;
}

#sobre-mim h2 {
  font-size: 23px;
  line-height: 60px;
}

#descricao {
  font-size: 16.5px;
}

#bh {
  font-size: 14px;
  margin-bottom: 50px;
}

#licoes {
  display: block;
  float: right;
  width: 210px;
  margin-right: 0;
  border-left: 2px double grey;
  padding-bottom: 20px;
  padding-top: 10px;
  font-size: 15px;
  line-height: 32px;
  font-family: Roboto, sans-serif;
}

#licoes h2 {
  text-align: center;
  font-size: 16px;
  margin: 20px;
  line-height: 25px;
  font-weight: 1000;
}

table {
  border: 2px solid grey;
  text-align: center;
  font-size: 16px;
  width: 795px;
  height: 175px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 60px;
}

tr td {
  width: 180px;
  height: 40px;
}

.up-table {
  font-weight: 600;
}

.table-hdivision {
  border-bottom: 1px solid rgb(160 , 160 , 160);
}

.table-vdivision {
  border-right: 1px solid rgb(160 , 160 , 160);
}

footer , nav {
  border-top: 1px gray solid;
}

aside {
  text-align: justify;
  margin-right: 250px;
}

aside h3 {
  font-size: 16px;
  margin-bottom: 5px;
}

#extra {
  margin-top: 0;
  margin-bottom: 30px;
}

#contato {
  text-align: center;
  z-index: 16;
}

#contato h3 {
  display: inline;
}

#linkedin a:hover img {
  background-color: rgb(0 , 119 , 181);
  border-radius: 2px;
}

#github a:hover img {
  background-color: rgb(110 , 84 , 148);
  border-radius: 20px;
}

footer {
  position: relative;
  bottom: 0;
  top: 150px;
  background-color: lightgray;
  padding: 5px;
  width: 100vw;
  z-index: 13;
}

#rodape p {
  text-align: center;
  line-height: 30px;
  font-size: 15px;
}
