body {
  background-color: rgb(210, 210, 211);
  font-family: -apple-system, Roboto, Oxygen, Open Sans, Helvetica Neue, sans-serif;
  margin: 0;
}

.button {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  width: 25%;
}

.centered {
  margin-left: auto;
  margin-right: auto;
}

.color {
  border: 1px solid black;
  display: inline-block;
  padding: 24px;
}

.black {
  background-color: black;
}

.blue {
  background-color: lightblue;
}

footer {
  background-color: rgb(22, 25, 29);
  bottom: 0;
  color: white;
  line-height: 10px;
  margin-top: 1000px;
  position: fixed;
  text-align: center;
  width: 100%;
}

.green {
  background-color: lightgreen;
}

h1 {
  background-color:rgb(22, 25, 29);
  color: white;
  padding: 10px;
  text-align: center;
  width: 100%;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.palette {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  width: 45%;
}

.pink {
  background-color: lightpink;
}

.pixel {
  background-color: white;
  border: 1px solid black;
  display: table-cell;
  height: 40px;
  width: 40px;
}

.pixel-line {
  display: table-row;
}

.selected {
  transform: scale(1.2);
}
